<main class="container">
  <header>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="text-center logo">
          <%= image_tag "images/logo.png", class:"img-responsive", alt:"Súper M - Pronto" %>
        </div>
      </div>
      <div class="col-md-3">
        <div class="text-center social">
          <a href="https://www.facebook.com/pages/S%C3%BAper-M/281738708689543" target="new"><%= image_tag "images/fb.png"%></a>
          <a href="http://bit.ly/1FdtQEZ" target="new"><%= image_tag "images/tw.png" %></a>
          <a href="http://bit.ly/super-m" target="new"><%= image_tag "images/yt.png" %></a>
        </div>
      </div>
    </div>
  </header>


  <section class="row teaser">
    <div class="col-md-12 ">
      <p align="center">
        <iframe width="100%" height="600px" src="//www.youtube.com/embed/wL2MQOIi2Yo?modestbranding=1&autoplay=1&autohide=1&rel=0" frameborder="0" allowfullscreen></iframe>
      </p>
    </div>
  </section>

<section class="row">
  <div class="col-md-4">
  <p align="center">
  <iframe width="200" src="//www.youtube.com/embed/9-GD6RjiODw" frameborder="0" allowfullscreen></iframe></p>
  <br><p align="center">Primer Teaser</p><br>
  </div>
  <div class="col-md-4">
  <p align="center">
  <iframe width="200" src="//www.youtube.com/embed/DP6HSMoT35M" frameborder="0" allowfullscreen></iframe></p>
  <br><p align="center">Segundo Teaser</p
  </div>
  <div class="col-md-4">
  <p align="center">
  <iframe width="200" src="//www.youtube.com/embed/3UZK_EFgn1A" frameborder="0" allowfullscreen></iframe></p>
  <br><p align="center">Tercer Teaser</p
  </div>
</section>
  
  <section class="row production">
    <div class="col-md-12">
      <h2 class="text-center">Una producción de:</h2>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12 text-center">
      <a href="http://www.superm.cl" target="new"><%= image_tag "images/kuko.png",  alt:"KUKO"%></a>
      <a href="http://www.jumpcats.cl" target="new"><%= image_tag "images/jumpcats.png",  alt:"JumpCats"%></a>
      <a href="http://www.valvulafilms.com" target="new"><%= image_tag "images/valvula.png",  alt:"Valvula"%></a>
    </div>
  </section>
  

  <section class="row collaborators">
    <h2 class="text-center">Colaboran con Súper M:</h2>
    <div class="col-md-12 text-center">
      <a href="http://www.bandido.cl" target="new"><%= image_tag "images/bandido.png", alt:'Bandido' %></a> 
      <a href="http://www.caosfilms.cl" target="new"><%= image_tag "images/caos.png", alt:"Caos" %></a> 
      <a href="http://www.cinemotor.cl" target="new"><%= image_tag "images/cinemotor.png", alt:"CineMotor" %></a> 
      <a href="http://www.superm.cl" target="new"><%= image_tag "images/cinesur.png", alt:"CineSur" %></a> 
      <a href="http://www.vimeo.com/libelula" target="new"><%= image_tag "images/libelula.png", alt:"Libelula" %></a> 
      <a href="http://www.panoptiko.cl" target="new"><%= image_tag "images/panoptiko.png", alt:"Panoptiko" %></a> 
      <a href="http://www.superm.cl" target="new"><%= image_tag "images/sky.png", alt:"Sky" %></a> 
      <a href="http://www.sow.cl" target="new"><%= image_tag "images/sow.png", alt:"SOW" %></a> 
      <a href="http://www.tridi.cl" target="new"><%= image_tag "images/tridi.png", alt:"Tridi" %></a>
    </div>
  </section>

  <section class="row credits">
    <div class="col-md-12">
      <p align="center">
        <%= image_tag "images/creditos.png", class:"img-responsive", alt:"Cŕeditos SúperM" %>
      </p>
    </div>
  </section>  
</main>
